<!DOCTYPE html>
<html>
  <body>
    <div class="centered">
      <svg
        width="{{ width }}"
        height="{{ height }}"
        viewBox="0 0 {{ width * 10 }} {{ height * 10 }}"
      >
        {{ content }}
      </svg>
    </div>
    <div class="centered">
      <button onclick="prevPage()">Previous</button>
      <button onclick="nextPage()">Next</button>
    </div>
    <footer class="centered">
      <p>&copy; 2025 Finn Jonas Peper. All rights reserved.</p>
    </footer>
  </body>
</html>
<style>
  .centered {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
<script>
  let queryString = window.location.pathname;
  seed = parseInt(queryString.split("/")[2]);

  function redirect(seed) {
    seed = Math.max(0, seed);
    const url = `http://127.0.0.1:8000/hexagon/${seed}`;
    window.location.href = url;
  }

  function nextPage() {
    seed++;
    redirect(seed);
  }

  function prevPage() {
    seed--;
    redirect(seed);
  }
</script>
